/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
}
a{
    text-decoration: none;
}
/* Main Container */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 0;
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 0 0; 
    margin: 0 auto;
    width: 90%;
    
}

.header .logo-container {
    flex: 1;
    width: 50%; /* Logo width set to 50% */
    overflow: hidden;
}

.header .logo {
    width: 10%;
    height: auto;
    display: block;
}

.header .address {
    font-weight: 400;
    font-size: 16px;
    color: #555;
    padding: 16px 24px;
    text-align: center;
    border-radius: 100px;
    background-color: #09003C;
    color: #f9f9f9;
    border: none;
}

/* Hero Image */
.hero-image {
    margin: 0px auto;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;

}

.hero-image img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

/* Quote Section */
.quote-section {
    text-align: left;
    color: #09003C;
    margin-top: 120px;
    margin-bottom: 120px;

}

.quote-section .newInTown{
    font-size: 14px;
    font-weight: 800;
    line-height: 1.8;
    max-width: 800px;
    color: #09003C;
}

.quote-section h1 {
    margin: 0;
    font-size: 80px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -4px;
    width: 800px;
    font-weight: 800;
}

.quote-section p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.8;
    max-width: 800px;
    color: #09003C;
}

/*socials */
.socials-container{
    background-color: #09003C;
    border-radius: 16px;
    display: flex;
    margin-bottom: 24px;
}

.socials{
    padding: 160px 80px;
    width:50%
}

.socials h1{
    margin: 0;
    font-size: 64px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -4px;
    width: 800px;
    font-weight: 800;
    color:#D0FDFF ;
    margin-bottom: 40px;
}
.socials p{
    font-size: 14px;
    font-weight: 800;
    line-height: 1.8;
    max-width: 800px;
    color: #D0FDFF;
}

.socials a{
    font-weight: 400;
    font-size: 16px;
    color: #555;
    padding: 16px 24px;
    text-align: center;
    border-radius: 100px;
    background-color:#D0FDFF;
    color: #09003C;
    border: none;
    width: 50%;
}
.social_image{
    background-image:url(Images/social.png);
    background-position: right;
    background-size: cover;
    width: 50%;
}

/* Opening Hours */

.opening-hours-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.company{
    background-image: url(Images/company.png);
    background-position: right;
    background-size: cover;
    flex: 1;
   
    border-radius: 16px;


}

.opening-hours {

    background-color: #D0FDFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.opening-hours h2 {
    font-size: 24px;
    font-weight: 600;
    color: #09003C;
    margin-bottom: 15px;
    padding: 40px 0px 0px 40px;
}

.opening-hours ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 40px;
}

.opening-hours li {
    display: flex;
    justify-content: space-between;
    font-size:32px;
    font-weight: 600; /* Semi-bold */
    color: #09003C;
    padding: 10px 0;
    border-bottom: 1px solid rgba(9, 0, 60, 0.1); /* 10% opacity */
    width:100%;
}

.opening-hours .day {
    text-align: left;
}

.opening-hours .hours {
    text-align: right;
}

/* Responsive Design */
@media (max-width: 768px) {
    .opening-hours {
        padding: 24px; /* Reduced padding for tablets */
    }

    .quote-section h1 {
        font-size: 50px;
    }

    .quote-section p {
        font-size: 14px;
    }

    .opening-hours h2 {
        font-size: 30px;
    }

    .opening-hours li {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .opening-hours {
        padding: 16px; /* Reduced padding for mobile */
    }

    .quote-section h1 {
        font-size: 40px;
    }

    .quote-section p {
        font-size: 12px;
    }

    .opening-hours li {
        font-size: 18px;
    }
}
